<?xml version="1.0" encoding="utf-8"?>
<config>

<fieldset
		name="albopretorio"
		label="COM_ALBOPRETORIO_FIELD_CONFIG_ALBOPRETORIO_SETTINGS_LABEL"
		description="COM_ALBOPRETORIO_FIELD_CONFIG_ALBOPRETORIO_SETTINGS_DESC">

		<field
			name="albopretorio_layout" type="componentlayout"
			label="JGLOBAL_FIELD_LAYOUT_LABEL"
			description="JGLOBAL_FIELD_LAYOUT_DESC"
			menuitems="true"
			extension="com_albopretorio"
			view="albopretorio"
		/>



		<field
			id="show_item_description"
			name="show_item_description"
			type="radio"
			class="btn-group btn-group-yesno"
			default="1"
			label="COM_ALBOPRETORIO_FIELD_SHOW_ITEM_DESCRIPTION_LABEL"
			description="COM_ALBOPRETORIO_FIELD_SHOW_ITEM_DESCRIPTION_DESC">
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>


		<field
			id="albopretorio_order_dir"
			name="albopretorio_order_dir"
			type="list"
			label="COM_ALBOPRETORIO_FIELD_ALBOPRETORIO_ORDER_DIR_LABEL"
			description="COM_ALBOPRETORIO_FIELD_ALBOPRETORIO_ORDER_DIR_DESC"
		>
			<option value="desc">COM_ALBOPRETORIO_ORDER_DESC</option>
			<option value="asc">COM_ALBOPRETORIO_ORDER_ASC</option>
		</field>

		<field
			id="albopretorio_order_field"
			name="albopretorio_order_field"
			type="list"
			label="COM_ALBOPRETORIO_FIELD_ALBOPRETORIO_ORDER_FIELD_LABEL"
			description="COM_ALBOPRETORIO_FIELD_ALBOPRETORIO_ORDER_FIELD_DESC"
		>
			<option value="a.document_number">COM_ALBOPRETORIO_FIELD_DOCUMENT_NUMBER_LABEL</option>
			<option value="a.document_date">COM_ALBOPRETORIO_FIELD_DOCUMENT_DATE_LABEL</option>
			<option value="a.official_number">COM_ALBOPRETORIO_FIELD_OFFICIAL_NUMBER_LABEL</option>
			<option value="a.document_name">COM_ALBOPRETORIO_FIELD_NAME_LABEL</option>
			<option value="a.publish_up">COM_ALBOPRETORIO_HEADING_PUBLISH_DATE</option>
			<option value="a.publish_down">COM_ALBOPRETORIO_HEADING_SUSPEND_DATE</option>
		</field>


		<!--field
			name="float_first"
			type="list"
			label="COM_ALBOPRETORIO_FLOAT_LABEL"
			description="COM_ALBOPRETORIO_FLOAT_DESC">
				<option value="right">COM_ALBOPRETORIO_RIGHT</option>
				<option value="left">COM_ALBOPRETORIO_LEFT</option>
				<option value="none">COM_ALBOPRETORIO_NONE</option>
		</field>
		<field
			name="float_second"
			type="list"
			label="COM_ALBOPRETORIO_FLOAT_LABEL"
			description="COM_ALBOPRETORIO_FLOAT_DESC">
				<option value="right">COM_ALBOPRETORIO_RIGHT</option>
				<option value="left">COM_ALBOPRETORIO_LEFT</option>
				<option value="none">COM_ALBOPRETORIO_NONE</option>
		</field-->

		<field
			id="show_tags"
			name="show_tags"
			type="radio"
			class="btn-group btn-group-yesno"
			default="1"
			label="COM_ALBOPRETORIO_FIELD_SHOW_TAGS_LABEL"
			description="COM_ALBOPRETORIO_FIELD_SHOW_TAGS_DESC">
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>

	</fieldset>

	<fieldset
		name="category"
		label="JCATEGORY"
		description="COM_ALBOPRETORIO_FIELD_CONFIG_CATEGORY_SETTINGS_DESC">

		<field
			name="category_layout" type="componentlayout"
			label="JGLOBAL_FIELD_LAYOUT_LABEL"
			description="JGLOBAL_FIELD_LAYOUT_DESC"
			menuitems="true"
			extension="com_albopretorio"
			view="category"
		/>

		<field name="show_category_title" type="radio"
			class="btn-group btn-group-yesno"
			label="JGLOBAL_SHOW_CATEGORY_TITLE"
			description="JGLOBAL_SHOW_CATEGORY_TITLE_DESC"
			default="1"
		>
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>

		<field
			id="show_description"
			name="show_description"
			type="radio"
			class="btn-group btn-group-yesno"
			default="1"
			label="JGLOBAL_SHOW_CATEGORY_DESCRIPTION_LABEL"
			description="JGLOBAL_SHOW_CATEGORY_DESCRIPTION_DESC">
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>

        <field
            id="show_document_date"
            name="show_document_date"
            type="radio"
            class="btn-group btn-group-yesno"
            default="1"
            label="COM_ALBOPRETORIO_FIELD_SHOW_DOCUMENT_DATE_LABEL"
            description="COM_ALBOPRETORIO_FIELD_SHOW_DOCUMENT_DATE_DESC">
            <option value="1">JSHOW</option>
            <option value="0">JHIDE</option>
        </field>

		<field
			name="show_description_image"
			type="radio"
			class="btn-group btn-group-yesno"
			default="1"
			label="JGLOBAL_SHOW_CATEGORY_IMAGE_LABEL"
			description="JGLOBAL_SHOW_CATEGORY_IMAGE_DESC"
		>
	 		<option value="0">JHIDE</option>
	 		<option value="1">JSHOW</option>
	 	</field>

		<!--field name="maxLevel" type="list"
			description="JGLOBAL_MAXIMUM_CATEGORY_LEVELS_DESC"
			label="JGLOBAL_MAXIMUM_CATEGORY_LEVELS_LABEL"
			default="-1"
		>
			<option value="0">JNONE</option>
			<option value="-1">JALL</option>
			<option value="1">J1</option>
			<option value="2">J2</option>
			<option value="3">J3</option>
			<option value="4">J4</option>
			<option value="5">J5</option>
		</field>

		<field name="show_empty_categories" type="radio"
			class="btn-group btn-group-yesno"
			label="JGLOBAL_SHOW_EMPTY_CATEGORIES_LABEL"
			description="COM_ALBOPRETORIO_SHOW_EMPTY_CATEGORIES_DESC"
			default="0"
		>
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>

		<field name="show_subcat_desc" type="radio"
			class="btn-group btn-group-yesno"
			default="1"
			label="JGLOBAL_SHOW_SUBCATEGORIES_DESCRIPTION_LABEL"
			description="JGLOBAL_SHOW_SUBCATEGORIES_DESCRIPTION_DESC"
		>
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>

		<field
			id="show_cat_items"
			name="show_cat_items"
			type="radio"
			class="btn-group btn-group-yesno"
			default="1"
			label="COM_ALBOPRETORIO_FIELD_SHOW_CAT_ITEMS_LABEL"
			description="COM_ALBOPRETORIO_FIELD_SHOW_CAT_ITEMS_DESC"
		>
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field-->

		<field name="show_cat_tags" type="radio"
			label="COM_ALBOPRETORIO_FIELD_SHOW_CAT_TAGS_LABEL"
			description="COM_ALBOPRETORIO_FIELD_SHOW_CAT_TAGS_DESC"
			class="btn-group btn-group-yesno"
			default="1"
		>
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>

	</fieldset>

	<!-- fieldset name="categories"
		label="JCATEGORIES"
		description="COM_ALBOPRETORIO_CATEGORIES_DESC">

		<field name="show_base_description" type="radio"
			default="1"
			class="btn-group btn-group-yesno"
			label="JGLOBAL_FIELD_SHOW_BASE_DESCRIPTION_LABEL"
			description="JGLOBAL_FIELD_SHOW_BASE_DESCRIPTION_DESC"
		>
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>

		<field name="maxLevelcat" type="list"
			default="-1"
			description="JGLOBAL_MAXIMUM_CATEGORY_LEVELS_DESC"
			label="JGLOBAL_MAXIMUM_CATEGORY_LEVELS_LABEL"
		>
			<option value="-1">JALL</option>
			<option value="1">J1</option>
			<option value="2">J2</option>
			<option value="3">J3</option>
			<option value="4">J4</option>
			<option value="5">J5</option>

		</field>
		<field name="show_empty_categories_cat" type="radio"
			class="btn-group btn-group-yesno"
			default="0"
			label="JGLOBAL_SHOW_EMPTY_CATEGORIES_LABEL"
			description="COM_ALBOPRETORIO_SHOW_EMPTY_CATEGORIES_DESC"
		>
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>

		<field name="show_subcat_desc_cat" type="radio"
			class="btn-group btn-group-yesno"
			default="1"
			description="JGLOBAL_SHOW_SUBCATEGORIES_DESCRIPTION_DESC"
			label="JGLOBAL_SHOW_SUBCATEGORIES_DESCRIPTION_LABEL"
		>
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>

		<field name="show_cat_items_cat" type="radio"
			class="btn-group btn-group-yesno"
			default="1"
			description="COM_ALBOPRETORIO_FIELD_SHOW_CAT_ITEMS_DESC"
			label="COM_ALBOPRETORIO_FIELD_SHOW_CAT_ITEMS_LABEL"
		>
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>

	</fieldset-->

	<!--fieldset
		name="listlayout"
		label="JGLOBAL_LIST_LAYOUT_OPTIONS"
		description="COM_ALBOPRETORIO_FIELD_CONFIG_LIST_SETTINGS_DESC">

		<field
			name="filter_field"
			type="list"
			default="1"
			description="JGLOBAL_FILTER_FIELD_DESC"
			label="JGLOBAL_FILTER_FIELD_LABEL"
			>
				<option value="1">JSHOW</option>
				<option value="hide">JHIDE</option>
		</field>

		<field
			name="show_pagination_limit"
			type="radio"
			class="btn-group btn-group-yesno"
			default="1"
			label="JGLOBAL_DISPLAY_SELECT_LABEL"
			description="JGLOBAL_DISPLAY_SELECT_DESC"
		>
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>

		<field
			id="show_headings"
			name="show_headings"
			type="radio"
			class="btn-group btn-group-yesno"
			default="1"
			label="JGLOBAL_SHOW_HEADINGS_LABEL"
			description="JGLOBAL_SHOW_HEADINGS_DESC"
		>
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>

		<field
			id="show_articles"
			name="show_articles"
			type="radio"
			class="btn-group btn-group-yesno"
			default="1"
			label="COM_ALBOPRETORIO_FIELD_NUM_ARTICLES_COLUMN_LABEL"
			description="COM_ALBOPRETORIO_FIELD_NUM_ARTICLES_COLUMN_DESC"
		>
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>

		<field
			id="show_link"
			name="show_link"
			type="radio"
			class="btn-group btn-group-yesno"
			default="1"
			label="COM_ALBOPRETORIO_FIELD_SHOW_LINKS_LABEL"
			description="COM_ALBOPRETORIO_FIELD_SHOW_LINKS_DESC"
		>
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>

		<field name="show_pagination"
			type="list"
			default="2"
			label="JGLOBAL_PAGINATION_LABEL"
			description="JGLOBAL_PAGINATION_DESC"
		>
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
			<option value="2">JGLOBAL_AUTO</option>
		</field>

		<field
			name="show_pagination_results"
			type="radio"
			class="btn-group btn-group-yesno"
			default="1"
			label="JGLOBAL_PAGINATION_RESULTS_LABEL"
			description="JGLOBAL_PAGINATION_RESULTS_DESC"
		>
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>

	</fieldset-->

	<fieldset
		name="permissions"
		label="JCONFIG_PERMISSIONS_LABEL"
		description="JCONFIG_PERMISSIONS_DESC"
		>

		<field
			name="rules"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			filter="rules"
			validate="rules"
			component="com_albopretorio"
			section="component"/>
	</fieldset>

    <fieldset
        name="advanced"
        label="COM_ALBOPRETORIO_ADVANCED_LABEL"
        description="COM_ALBOPRETORIO_ADVANCED_DESC"
        >

        <field
            name="autoincrement_official_number"
            type="radio"
            class="btn-group btn-group-yesno"
            default="0"
            label="COM_ALBOPRETORIO_AUTOINCREMENT_LABEL"
            description="OM_ALBOPRETORIO_AUTOINCREMENT_DESC"
            >

            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>

        <field
            name="autoincrement_sort_numerically"
            type="radio"
            class="btn-group btn-group-yesno"
            default="1"
            label="COM_ALBOPRETORIO_AUTOINCREMENT_SORT_NUMERICALLY_LABEL"
            description="COM_ALBOPRETORIO_AUTOINCREMENT_SORT_NUMERICALLY_DESC"
            >

            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
    </fieldset>
    <fieldset
        name="style"
        label="COM_ALBOPRETORIO_STYLE_LABEL"
        description="COM_ALBOPRETORIO_STYLE_DESC"
        >
        <field name="custom_css" type="textarea"
            default=""
            rows="10" cols="5"
            label="COM_ALBOPRETORIO_ADDITIONAL_CSS"
            description="COM_ALBOPRETORIO_ADDITIONAL_CSS_DESC">
        </field>
    </fieldset>
    <fieldset
        name="itopen_update_server"
        label="ITOPEN_UPDATE_SERVER"
        description="ITOPEN_UPDATE_SERVER_DESC"
        >
        <field
            name="itopen_update_server_key"
            type="text"
            class="inputbox"
            label="ITOPEN_UPDATE_SERVER_KEY"
            description="ITOPEN_UPDATE_SERVER_KEY_DESC"
            default=""
            >
        </field>
    </fieldset>
</config>
